.cGGG {
  background-color: #ffffff;
}
.cGG {
  background-color: #f2f2f2;
}
.cG {
  background-color: #b6b6b6;
}
.c {
  background-color: #757575;
  color: #f2f2f2;
}
.cHelp {
  background-color: #d9d9d9;
}

* {
  color: #515151;
  font-weight: bold;
}

.tXXL {
  font-size: 42px;
}
.tXL {
  font-size: 36px;
}
.tL {
  font-size: 24px;
}
.tM {
  font-size: 20px;
}
.tS {
  font-size: 16px;
}
.tXS {
  font-size: 12px;
}

.Frame {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.LeftButton {
  transform: rotate(-45deg);
}
.RightButton {
  transform: rotate(45deg);
}
