.sFlex {
  display: flex;
}
.sFlex-Row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sFlex-Col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SpaceB {
  justify-content: space-between;
}

.pCenter {
  margin: 0px auto;
}
